.topbar{
    display: flex;
    width: 100%;
    height: 150px;
    background: orange;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.topbar img{
    width:200px;
}
body {
    background-color: #181446 !important;
    color: white;
    margin:0;
    font-family: 'Arial';
}
.maincontainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #181446 !important;

}
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}


#footer {
    position: relative;
    margin-top: -100px;
    /* negative value of footer height */
    height: 100px;
    clear: both;
    display: flex;
    width: 100%;
    background: orange;
    align-items: center;
    align-content: center;
    justify-content: center;
}


/* Opera Fix thanks to Maleika (Kohoutec) */

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
    /* thank you Erik J - negate effect of float*/
}