
body{
    margin:0;
    padding: 0;
    background-color:#181446 !important;
}
.topbar{
    display: flex;
    width: 100%;
    height: 10vh;
    background: orange;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.topbar img{
    width:200px;
}
.user-video{
    float: right;
    position: absolute;
    background-color: #181446;
    z-index: 1;
    padding:0;
    margin:0;
}
.video{
    min-height: 270px;
    min-width: 480px;
    background-color: blueviolet;
    position: absolute;
    padding:0;
    margin:0;
}
.container{
    background: #e7e7e7;
    -webkit-box-shadow: 2px 2px 16px 4px rgba(0,0,0,0.65);
    -moz-box-shadow: 2px 2px 16px 4px rgba(0,0,0,0.65);
    box-shadow: 2px 2px 16px 4px rgba(0,0,0,0.65);
margin-top:5%;
    margin-bottom: 3%;
    padding-left: 0;
    margin-left: 0;
}
.col {
    background: orange;
    /* margin-right: 1%;
    margin-left: 1%; */
    padding: 0;
    color:white;
}
.endcol{
    display: flex;
    justify-content: center;
    background: transparent !important;
}